html,body {
    font-family : "Montserrat",Arial,Helvetica,sans-serif;
    height: 100%;
    background-image: url('https://thumbs.dreamstime.com/z/computer-screen-error-templates-hacked-cyber-attack-digital-background-green-matrix-binary-code-vector-illustration-146296658.jpg');

}

#form-err {
    color: white;
}

span {
    font-size: 1.2rem;
}

.width-form {
    width: 230px;
}