<div class="container margin-top h-100">
    <div class="row h-100 justify-content-center">
        <div id="form-err" class="my-auto width-form">
            <div id="message-err"class="">
                <h1>{{error.status}}</h1>
                <span>{{message}}</span>
            </div>
        </div>
    </div>
</div>


